<%= component_controller :span do %>
  <%= reflex_tag "click->show", :button do %>
    Click to show
  <% end %>
  <%= reflex_tag "click->hide", :button do %>
    Click to hide
  <% end %>
  <p>
    <% if @hover %>
      <%= value %>
    <% end %>
  </p>
<% end %>
