<button data-reflex="click->Example#create">Click me to create a post</button><br/>

<button data-reflex="click->Example#destroy">Click me to delete the last post</button><br/>

<br/>

<% @posts.each do |p| %>
  <button data-reflex="click->Example#test_selector" data-id="<%= p.id %>">Click me to render post <%= p.id %> via selector morph</button><br/>
<% end %>

<p>
  Selector Morph:<br/>
  <div id="post-container"></div>
</p>


